body {
    font-family: Arial, sans-serif;
    background-color: #17101f;
    color: #40af46;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

a {
    color: #40af46; /* Same color as the body text */
    text-decoration: none; /* Optional: Removes the underline from links */
}

a:hover {
    text-decoration: underline; /* Optional: Adds underline on hover for better user experience */
}

header, footer {
    background-color: #292034;
    padding: 10px 0;
    text-align: center;
}

header h1, footer p {
    margin: 0;
    padding: 10px;
}

section {
    padding: 20px;
    text-align: center;
}
